<main>
  <h1>Calculadora em Angular + Typescript</h1>
  <section class="calculadora">
    <section class="resultado">
      <h1>{{resultado}}</h1>
    </section>
    <section class="botoes" id="botoesContainer">
      <button class="especial" (click)="Limpar()">AC</button>
      <button class="especial" (click)="BackSpace()">⌫</button>
      <button class="especial" (click)="Inserir('%')">%</button>
      <button class="especial" (click)="Inserir('/')">÷</button>
      <button (click)="Inserir('7')">7</button>
      <button (click)="Inserir('8')">8</button>
      <button (click)="Inserir('9')">9</button>
      <button class="especial" (click)="Inserir('*')">x</button>
      <button (click)="Inserir('4')">4</button>
      <button (click)="Inserir('5')">5</button>
      <button (click)="Inserir('6')">6</button>
      <button class="especial" (click)="Inserir('-')">-</button>
      <button (click)="Inserir('1')">1</button>
      <button (click)="Inserir('2')">2</button>
      <button (click)="Inserir('3')">3</button>
      <button class="especial" (click)="Inserir('+')">+</button>
      <button class="especial" (click)="NovosBotoes()">⇄</button>
      <button (click)="Inserir('0')">0</button>
      <button (click)="Inserir(',')">,</button>
      <button class="calcular" (click)="Calcular(resultado)">=</button>
      <button class="botaoEscondido" (click)="Sen(resultado)">Sen</button>
      <button class="botaoEscondido" (click)="Cos(resultado)">Cos</button>
      <button class="botaoEscondido" (click)="Tan(resultado)">Tan</button>
      <button class="botaoEscondido" (click)="Inserir('**')">x^y</button>
      <button class="botaoEscondido" (click)="CalcularLogaritmo(resultado)">Lg</button>
      <button class="botaoEscondido" (click)="Inserir('(')">(</button>
      <button class="botaoEscondido" (click)="Inserir(')')">)</button>
      <button class="botaoEscondido" (click)="CalcularRaizQuadrada(resultado)">√</button>
    </section>
  </section>
</main>
<router-outlet/>